

.category-selected{
    -jfx-button-type: RAISED;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-fill: WHITE;
    -fx-border-color: #2196F3;
    -fx-background-color: #2196F3;
}

.filter-selected{
    -fx-border-color: #2196F3;
    -fx-border-radius: 50;
    -fx-background-color: #2196F3;
}

.cell:hover{
    -fx-effect: dropshadow(gaussian,rgba(170,170,170,0.5),0,0,0,1 );
    -fx-background-color: #2196F3;
}

.cell:empty{
    -fx-background-color: white;
}

.cell:filled:focused:selected{
    -fx-background-color: #2196F3;
    -fx-text-fill: black;
}

